.brand {
  font-weight: 700;
  font-style: italic;
  letter-spacing: -0.1rem;
}

.brand-ai {
  font-weight: 400;
  font-style: normal;
}

.intro {
  margin: 0;
  font-size: 1.2rem;
}

.header {
  margin: 4rem 0 2rem;
  text-align: center;
}

.link {
  text-decoration: none;
}