.configs {
  display: grid;
  grid-template-columns: 1fr;
  flex-direction: column;
  gap: 3rem;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;

  @media (min-width: 900px) {
    grid-template-columns: 1fr 1fr;
  }
}