.input {
  border: none;
  border-radius: 0.75rem;
  padding: 1rem 1.25rem;
  max-width: 600px;
  box-shadow: 0 0 1rem rgba(50, 0, 100, 0.1);
  transition: box-shadow 0.3s, transform 0.3s;
  font-family: inherit;
  font-size: 18px;
  flex-basis: 100%;
}

.input[disabled] {
  background-color: var(--color-background);
  color: var(--color-secondary)
}

.input:not([disabled]):focus,
.input:not([disabled]):hover {
  box-shadow: 0 0 3rem rgba(50, 0, 100, 0.2);
  transform: scale(1.01);
  z-index: 1;
}

.row {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.label {
  flex-basis: 40%;
}