.button {
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  color: var(--color-background);
  font-size: 1.2rem;
  box-shadow: 0 0 1rem rgba(50, 0, 100, 0.1);
  transition: box-shadow 0.3s, transform 0.3s;
  background-image: linear-gradient(339deg,rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);

  &[disabled] {
    opacity: 0.5;
  }

  &:not([disabled]):focus,
  &:not([disabled]):hover {
    box-shadow: 0 0 3rem rgba(50, 0, 100, 0.2);
    transform: scale(1.01);
    z-index: 1;
  }
}