
.header {
  font-style: italic;
  opacity: 0.5;
  font-size: 0.9rem;
}

.headline {
  display: block;
  margin-block: 0.25rem;
  font-size: 1.25rem;
}

.teaser {
  opacity: 0.7;
}

.wrapper {
  padding-left: 2rem;
  max-width: 100%;
  min-width: 100%;
  align-self: end;

  @media (min-width: 900px) {
    max-width: unset;
    margin-left: -2rem;
    min-width: calc(100% + 2rem);
  }
}

.title {
  position: relative;
}

.bookmark {
  display: block;
  position: absolute;
  top: -0.25rem;
  left: 0;
  transform: translateX(-100%);

  @media (min-width: 900px) {
    display: none;
  }
}

.wrapper:hover .bookmark,
.bookmark.is-bookmarked {
  display: block;
}
