* {
  box-sizing: border-box;
}

:root {
  --color-primary: #111111;
  --color-primary-light: #333;
  --color-background: #fff;
  --color-secondary: #666;
  --color-accent: #0070f3;
  --color-accent-light: #aacffa;
}

::placeholder {
  font-style: italic;
}

html {
  background-color: var(--color-primary);
  margin: 0.5rem 0;
  min-width: 420px;
}

html, body {
  font-family: Inter, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: var(--color-primary);
  line-height: 1.5;
  font-size: 16px;
}

body {
  background-image: url("/img/bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--color-background);
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  display: flex;
  min-height: calc(100dvh - 1rem);
}

main {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

h1 {
  font-size: 4.5rem;
  margin: 0;
  line-height: 1.2;
}

h2 {
  font-size: 1.25rem;
  margin: 0;
  color: var(--color-secondary-light);
  font-weight: 600;
}

button {
  appearance: none;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0.5rem;
  font-family: Inter, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: var(--color-primary);
  line-height: 1.5;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
  text-decoration-color: var(--color-accent-light);
  transition: text-decoration-color 0.3s;

  &:hover,
  &:focus {
    text-decoration-color: var(--color-accent);
  }
}

.container {
  width: 100%;
  padding: 1rem;
      display: flex;
    flex-direction: column;
    align-self: center;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.3s ease;
}