.content {
  display: flex;
  flex-direction: column;
  max-width: min(100%, 800px);
  margin: 4rem auto;
  gap: 2rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

.form-row {
  min-width: min(500px, 80vw);
  max-width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding-left: 48px;

  input {
    flex-grow: 1;
    flex-basis: 100%;
  }
}

.results {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  transition: opacity 0.3s;

  &.loading {
    opacity: 0.5;
    pointer-events: none;
  }

  &.loaded {
    opacity: 1;
  }
}

.placeholder {
  margin-bottom: 3rem;
}